.tooltip {
  color: #000;
}

.tooltip-title {
  font-weight: bold;
  padding: 0 0 12px 4px;
}
.tooltip-content {
  font-weight: 200;
}
.seriesUpdatedBullet {
  color: #73be58;
}
.seriesAddedBullet {
  color: #41aad7;
}
.seriesDeletedBullet {
  color: #e76c63;
}
